@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');
body{ background-image: url(https://images.pexels.com/photos/698907/pexels-photo-698907.jpeg?_gl=1*1tybxlw*_ga*MTM2MDk5MjA0MS4xNzU5NjEzMDIy*_ga_8JE65Q40S6*czE3NTk2MTMwMjEkbzEkZzEkdDE3NTk2MTQ2MDUkajQzJGwwJGgw); background-size: cover; background-position: center; background-repeat: no-repeat; display: flex;align-items: center; justify-content: center;}
main{ background-color: rgba(255, 255, 255, 0.8); padding: 20px; border-radius: 10px; max-width: 500px; margin: auto; margin-top: 30px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);}
img{ max-width: 100%; border-radius: 10px; margin-top: 10px;}
h1{ text-align: center; color:black; margin-bottom: 5px;font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50; font-size: 50px; margin-top: 10px;
}
p{ text-align: center; color:black; font-size: 15px;font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal; font-size: 25px; }
ul{ list-style-type: none; padding: 0; }
li{ background-color: #f0f0f0; margin: 5px 0; padding: 10px; border-radius: 5px; text-align: center; font-weight: bold; color: #333;font-family: "Stick No Bills", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal; font-size: 20px; }
.rsvp-button {display:block; width: auto; padding: 10px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; font-size: 16px; cursor: pointer; margin-top: 10px; text-align: center; text-decoration: none; transition: all 0.3s ease;font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal; font-size: 20px;}
.rsvp-button:hover{ background-color: #45a049; transform: scale(1.05);}
h2{ text-align: center; color:black; margin-top: 20px;font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal; font-size: 30px;}
