body{
  margin: 0px;
  padding: 0px;
  color: black;
  box-sizing: border-box;
  background-color: #f0f0f0;
  font-family: "Roboto", sans-serif;
  font-weight: 100px;
  font-style: normal;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body::-webkit-scrollbar{
  display: none;
}
.main-nav{
  display: flex;
  justify-content: space-evenly;
  justify-self: center;
  align-items: center;
  background-color: white;
  position: fixed;
  top: -20px;
  width: 100%;
  height: 10vh;
  z-index: 99;
  overflow: hidden;
}
.home,.skill,.github,.hamburger-menu{
  width: 40px;
  cursor: pointer;
}
.home:hover,.skill:hover,.github:hover,.hamburger-menu:hover{
  background-color: rgb(185, 184, 184);
  box-shadow: 1px 1px 2px 3px rgb(255, 255, 255,0.1);
  border-radius: 15px;
}
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 50vh;
  font-size: 22px;
  width: 100%;
  margin-top: 0px;
  padding-bottom: 20px;
  padding-top: 0px;
  gap: 50px;
  backdrop-filter: blur(10px);
  z-index: 99;
  background-color: rgb(255, 255, 255,0.2);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  z-index: 100;
}
.sidebar a{
  text-decoration: none;
  color: black;
  font-size: 26px;
}
.skill-img{
 width: 48px;
}
a:hover{
 text-decoration: underline;
 color: blue;
}
.close{
  margin-left: auto;
  margin-top: 20px;
}
ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  justify-self: center;
  position: relative;
  margin-top: 95px;
}
.pics,.profile-details,.cta-btn-container{
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 10px 20px;
}
.cta-btn-container{
gap: 25px;
}
.cta-btn-primary,.cta-btn-secondary,.live-demo,button{
  background-color: #4fd1c5;
  color: #2d3a45;
  border: 2px solid #2d3a45;
  box-shadow: 0 0 10px 2px rgb(79, 209, 197,0.1);
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  width: 180px;
  height: 60px;
  transition: transform 0.2s ease-in-out;
}
.cta-btn-secondary{
  background-color: #2d3a45;
  border: 2px solid #4fd1c5;
  color: #4fd1c5;
  border: 1px solid #4fd1c5;
}
.cta-btn-primary:hover,.live-demo:hover,button:hover{
   transform: scale(1.05);
   color: #4fd1c5;
   background-color: #2d3a45;
   border: 2px solid #4fd1c5;
}
.cta-btn-secondary:hover{
  background-color: #4fd1c5;
  color: #2d3a45;
  border: 2px solid #2d3a45;
  transform: scale(1.05);
}
.profile-pic{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  cursor: pointer;
}
h1{
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}
#features,.project-cards,#skill,#about,#services,#blog,#contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 100%;
  justify-self: center;
  position: relative;
}
.projects,.skills-header,.about-me,.services-header,.blog-header,.contact-header{
  margin-top: 40px;
  margin-bottom: 0px;
  font-size: 32px;
}
.amazon-card,.systeme-card,.opay-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  margin: 25px 0px 25px 0px;
  padding: 15px 0px 15px 0px;
  width: 95%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  justify-self: center;
}
.title-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 94%;
  justify-self: center;
}
.img-container{
  width: 94%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  justify-self: center;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}
.project-pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.project-title,.stack,.contact-title{
  font-size: 24px;
  margin-bottom: 5px;
}
.contact-title{
  text-align: center;
}
.project-description,.about-para,.service-description,.blog-description,.contact-description{
  font-size: 20px;
}
.about-para,.service-description,.blog-description,.contact-title,.contact-description{
  padding-left: 10px;
}
.stack,.service-title,.blog-title{
  font-size: 24px;
  font-weight: 500;
  padding-left: 10px;
  font-weight: 600;
}
.ambition{
  font-size: 22px;
  font-weight: 500;
}
.social-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  justify-self: center;
}
.mail,.instagram,.twitter{
  width: 40px;
}
.form,.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  justify-self: center;
}
.form{
  width: 95%;
  background-color: #2d3a45;
  padding: 10px 0px 10px 0px;
  margin: 20px 0px 20px 0px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
}
.edit{
  width: 85vw;
  height: 5vh;
  background-color: #2d3a45;
  margin-top: 10px;
  outline-color: #4fd1c5;
  outline-width: 0.1px;
  outline-style: solid;
  color: white;
  font-size: 20px;
}
.edit::placeholder,.message::placeholder{
 color: white;
 font-size: 16px;
}
.message{
 width: 85vw;
 height: 14vh;
 background-color: #2d3a45;
  margin-top: 10px;
  outline-color: #4fd1c5;
  outline-width: 0.1px;
  outline-style: solid;
  color: white;
  font-size: 20px;
}
.built-demo-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  justify-self: center;
}
.built{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-self: center;
  width: 100%;
  padding-left: 30px;
}
.built-para{
  font-size: 20px;
}
.live-demo{
  cursor: pointer;
  width: 140px;
  height: 45px;
}
.live-a,.live-a:hover{
  text-decoration: none;
  color: #2d3a45;
}
.live-a:hover{
  color: #4fd1c5;
}
.services-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
}
.skill-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 95%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  padding-top: 15px;
  gap: 30px;
  cursor: pointer;
  margin: 25px 0px 25px 0px;
}
.about-container,.blog-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 95%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  padding-top: 15px;
  gap: 0px;
  cursor: text;
  margin: 25px 0px 25px 0px;
}
.service-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 95%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  padding-top: 15px;
  gap: 0px;
  cursor: text;
  margin: 25px 0px 25px 0px;
}
.html-container,.css-container,.js-container,.tailwind-container,.react-container,.git-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
}
footer{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
}
.github-foot,.linkedin{
  text-decoration: none;
  color: black;
}
.html-img,.css-img,.js-img,.tail-img,.react-img,.git-img{
  width: 80px;
}
@media (min-width:200px){
  .home-desktop,.about-desktop,.skill-desktop,.service-desktop,.blog-desktop,.contact-desktop{
    display: none;
  }
  .main-nav{
    width: 100%;
  }
   .sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    gap: 0px;
  }
  .close{
   margin-right: auto;
  }
}
@media (min-width:489px){
  .home-desktop,.about-desktop,.skill-desktop,.service-desktop,.blog-desktop,.contact-desktop{
    display: none;
  }
  .main-nav{
    width: 100%;
  }
  .sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    gap: 0px;
  }
  .close{
   margin-left: 0px;
  }
}
@media (min-width:500px){
  .home,.skill,.github,.hamburger-menu,.sidebar.open,.sidebar{
    display: none;
    margin: 0px;
    padding: 0px;
  }
  .home-desktop,.about-desktop,.skill-desktop,.service-desktop,.blog-desktop,.contact-desktop{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
  }
  .home-desktop,.about-desktop,.skill-desktop,.service-desktop,.blog-desktop,.contact-desktop{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
  }
  a{
    text-decoration: none;
    color: #2d3a45;
    font-size: 22px;
  }
  a:hover{
    text-decoration: none;
    color: #4fd1c5;
  }
  .cta-btn-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}
